# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist/
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 'backend' 폴더 내의 가상 환경
backend/venv/

# 파이썬 캐시
__pycache__/
*.pyc

# Django 기본 데이터베이스
backend/db.sqlite3

# .env 파일 (API 키 등)
backend/.env